Repository AzureVauban/Food-Pantry-App, pull requests merged in 2025-09, with the labels that each got.

#20 18-implement-documentation-method
  CONTRIBUTING.md
  documentation/ISSUE-00-notes-template.md
  documentation/ISSUE-18-Implement-Documentation-Method.md
  package.json
  scripts/create_document.sh
Labels: documentation, enhancement, good first issue, DevOps

#25 chore: merge develop into master (testing, docs, linting, branch protection)
  .github/workflows/ci.yml
  .github/workflows/restrict-pr.yml
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/settings.json
  CONTRIBUTING.md
  __tests__/math.test.ts
  app/(tabs)/_layout.tsx
  app/(tabs)/explore.tsx
  app/(tabs)/index.tsx
  app/+not-found.tsx
  app/_layout.tsx
  app/index.tsx
  babel.config.js
  components/Collapsible.tsx
  components/ExternalLink.tsx
  components/HapticTab.tsx
  components/HelloWave.tsx
  components/ParallaxScrollView.tsx
  components/ThemedText.tsx
  components/ThemedView.tsx
  components/ui/IconSymbol.ios.tsx
  components/ui/IconSymbol.tsx
  components/ui/TabBarBackground.ios.tsx
  components/ui/TabBarBackground.tsx
  constants/Colors.ts
  documentation/ISSUE-00-notes-template.md
  documentation/ISSUE-17-Configure-Jest-Unit-Tests.md
  documentation/ISSUE-18-Implement-Documentation-Method.md
  documentation/ISSUE-19-Configure-Linting.md
  documentation/ISSUE-23-Implement-Branch-Protection-Ruleset.md
  hooks/useColorScheme.ts
  hooks/useColorScheme.web.ts
  hooks/useThemeColor.ts
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  scripts/create_document.sh
  scripts/reset-project.js
  scripts/run_tests.sh
  tsconfig.json
Labels: documentation, enhancement

#28 AzureVauban-patch-2
  .gitignore
  package-lock.json
  package.json
Labels: bug

#29 update(bugfix): Resolve expo dependency issue
  .gitignore
  package-lock.json
  package.json
Labels: bug

#42 32-connect-auth-pantry-data-backend-database
  .gitignore
  __tests__/firestorePantry.test.ts
  documentation/ISSUE-30-Design-Database-Model-for-Pantry-Items.md
  types/pantry.ts
  utils/firebaseConfig.ts
  utils/firestorePantry.ts
Labels: documentation, backend, database

#45 11-implement-ui-for-virtual-pantry---view-pantry-list
  app/_layout.tsx
  app/components/Navibar.tsx
  app/index.tsx
  app/login.tsx
  app/pantryview.tsx
  app/register.tsx
  app/screens/_layout.tsx
  app/screens/grocery.tsx
  app/screens/home.tsx
  app/screens/recipes.tsx
  app/screens/settings.tsx
  app/welcome.tsx
  constants/colors.ts
  documentation/ISSUE-11-Implement-UI-Pantry.md
  package-lock.json
  package.json
Labels: enhancement, frontend
